.action-panel {
  &__footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    position: relative;

    &-value {
      font-size: 18px;
      position: absolute;
      top: -18px;
      left: 0;
      right: 0;
      text-align: center;
      color: #ced4da;
    }
  }
}
