// Compass utilities
// @import "compass";

// VARS
$circle-width: 0.05em;
$circle-width2: 0.02em;
$circle-width-hover: 0.07em;

// colors default
$primary-color: #000000; // czarny
$secondary-color: #dfe8ed; //szary bcg
$bg-color: #212529; //srodkowy bezowy

// colors customized
$primary-color-blue: #30bae7;
$primary-color-green: #a9e34b;
$primary-color-orange: #eb7d4b;
$primary-color-pink: #d74680;
$primary-color-span: #f8f9fa;

.cr-timer {
  position: relative;

  .progress-ring {
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
  }

  &__bg-circle {
    position: absolute;
    left: 50%;
    top: 15px;
    width: 166px;
    height: 166px;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  &__info {
    font-size: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(68%);
    color: $primary-color-span;
  }

  &__type {
    margin-top: 8px;
  }

  &__time {
    font-size: 2em;
  }

  &__btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;

    button {
      margin: 0;
      border: 0.08em solid #ced4da;
      border-radius: 50%;
      color: white;

      i {
        display: block;
      }
    }
  }
}
